@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');

/* 
Colors used :- 

#7541c9
#49556b
#19212e
#fff

Background - #edf2f8

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed";
}

body{
    padding: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #edf2f8;
}

.container{
    padding: 10px 20px;
}

.flex-item{
    font-size: 15px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#test1{
    background-color: #7541c9;
    color: white;
}

#test2{
    background-color: #49556b;
    color: white;
}

#test3{
    background-color: #fff;
    color: black;
}

#test4{
    background-color: #19212e;
    color: white;
}

#test5{
    background-color: #fff;
    color: black;
}

img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.intro-section {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1.5px;
    font-size: 13px;
    justify-content: center;
    align-content: center;
}

.title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.4em;
    opacity: .89;
}

.testimonial{
    opacity: .5;
}