@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap');

/* 
Colors used :- 

#7541c9
#49556b
#19212e
#fff

Background - #edf2f8

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed";
}

body{
    padding: 10px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #edf2f8;
}

.container{
    padding: 10px 20px;
}

.flex-item{
    font-size: 15px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#test1{
    background-color: #7541c9;
    color: white;
}

#test2{
    background-color: #49556b;
    color: white;
}

#test3{
    background-color: #fff;
    color: black;
}

#test4{
    background-color: #19212e;
    color: white;
}

#test5{
    background-color: #fff;
    color: black;
}